.contenedor-principal{
    width: 1280px;
}

.header{
    height:146px;
    width:1280px;
}

.footer {
    height: 320px;
    background-color: #1E1E1E;
    color:white;
}

.topnav{
    box-sizing: border-box;
    height:38%;
    width: 100%;
    float: right;
}

.body {
    /* background: green; */
}

.slider{
  width:100%;
  height:100%;
}

.slide{
    width:100%;
    height: 400px;
    background: linear-gradient(270deg, #185592 0%, #0096BE 100%);
}

.listado-productos {
    height: 320px;
}

#logo{
  height:100%;
  width: 18%;
  position: relative;
}

.superior-derecho{
  width: 100%;
  /* background: green; */
}
.imagen-logo{
  position:absolute;
  top:19.5%;
  left:13%;
}

.busquedas{
  display: flex;
  width: 100%;
  height: 62%;
}
.buscador{
  width: 80%;
  display: flex;

}

.buscador-position{
  width:100%;
  height:100%;
  color: #1E1E1E;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 27px;
  border:none;
}

.menu{
  background: violet;
  height: 100%;
  display:flex;
}

.footer-link{
  background: white;
  color: black;
}

.header-superior{
  width:100%;
  height: 50%;
  /* background: black; */
  display:flex;
}

.header-inferior{
  width:100%;
  height: 50%;
  /* background: black; */
  display:block;
}

.superior-derecho{
  width: 100%;
  display:block;
  /* background: green; */
}
.carrito{
  height: 100%;
  width: 20;
  float: right;
  text-align: center;
  background-color: #1E1E1E;
}

.mi-carrito{
  height: 100%;
  width: 100%;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  position:relative;
  top:20.5%;
  left:9%;
}

.menu-item{
  width: 256px;
  height: 100%;
  background-color: #1DB779;
  color: #FFFFFF;
}

.menu-names{
  height: 20px;
  width: 210px;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  position:relative;
  top:34.5%;
  left:28%;
  }

.line {
  box-sizing: border-box;
  height: 1px;
  width: 100%;
  border: 1px solid #D1D3D4;
  margin:0;
}

.topnav-items{
  float: right;
  text-decoration: none;
    margin-left:6%;
}

.topnav-item{
  color: #1DB779;
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}
