.contenedor-principal{
    width: 1280px;
}

.header{
    background-color : red;
    height:400px;
    width:1280px;
}

.footer {
    height: 320px;
    background-color: #1E1E1E;
    color:white;
}

.topnav{
    background: grey;
    box-sizing: border-box;
    height:100%;
    width: 82%;
    float: right;
    /* border: 1px solid #D1D3D4; */
}

.body {
    background: green;
}

.banner-slider{
    height: 400px;
    background: linear-gradient(270deg, #185592 0%, #0096BE 100%);
}

.listado-productos {
    height: 320px;
    background-color: pink;
}

#logo{
  background: pink;
  height:100%;
  width: 18%;
  position: relative;
}

.imagen-logo{
  position:absolute;
  top:22.5%;
  left:15%;
}

.buscador{
  background: #185592;
}

.carrito{
  background: yellow;
}

.menu{
  background: violet;
}

.footer-link{
  background: white;
  color: black;
}

.header-superior{
  width:100%;
  height: 22%;
  background: black;
  display:flex;
}
