.header{
    background-color : red;
    height:146px;
    width:1280px;
}

.footer {	
    height: 320px;
    width: 1280px;
    background-color: #1E1E1E;
}

.body {
    background: green;
    width:1280px;
}
.banner-slider{
    height: 400px;
    /*width: 1280px;*/
    background: linear-gradient(270deg, #185592 0%, #0096BE 100%);
}

.listado-productos {
    height: 320px;
    /*width: 1280px;*/
    background-color: pink;
}